.header {
    
    .header-title {
        font-family: "Shrikhand", serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        background-color: $primary-color;
    }

    .search {
        border: none;
    }

    .fa-solid {
        color: black;
    }
}