* {
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

.heart-hover {
  font-size: 22px;
  transition: color 0.3s;
}
.heart-hover .heart-hover:hover {
  color: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.btn {
  padding: 0px 15px 0px 5px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.9;
}

.card-info {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.header .header-title {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #F3F3F3;
  gap: 15px;
}
.header .header .search {
  border: none;
}
.header .header .fa-solid {
  color: #353535;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
.nav #location {
  border: none;
  height: 50px;
  background-color: #EAEAEA;
}
.nav #placeholder {
  color: #353535;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
  gap: 15px;
}
.presentation .presentation p {
  font-size: 18px;
}
.presentation .presentation .btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  gap: 15px;
  padding: 15px;
}
.fonctionnement .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
  width: 100%;
}
.fonctionnement li {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  padding: 20px;
}
.fonctionnement li {
  position: relative;
}
.fonctionnement li::before {
  content: counter(list-item);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.fonctionnement .fa-solid {
  color: #9356DC;
  padding-right: 10px;
  padding-left: 10px;
}

.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 18px;
}

.restaurant .restaurant-card {
  background-color: #F6F6F6;
  border-radius: 20px;
}

.restaurant .card {
  font-family: "roboto", sans-serif;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 0px;
  position: relative;
}

.restaurant .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}

.restaurant .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  padding: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.restaurant .card .h3 {
  font-size: 18px;
  font-weight: 700;
}

.restaurant .card .p {
  font-size: 17px;
  font-weight: 300;
}

.new {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  margin: 15px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 22px 25px 22px;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}

.footer .footer-title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer .fa-solid {
  color: #FFFFFF;
}

.header-restaurant {
  display: flex;
  flex-direction: row;
  height: 63px;
}
.header-restaurant .arrow-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-restaurant .header-title {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  margin-left: 60px;
}
.header-restaurant .arrow {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
}
.header-restaurant .arrow .fa-arrow-left {
  color: #353535;
  font-size: 16px;
}

img {
  width: 100%;
  height: 275px;
}

.restaurant-card {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  gap: 40px;
  border-radius: 25%;
}
.restaurant-card .restaurant-name {
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.restaurant-card .menu-title {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px #99E2D0 solid;
}
.restaurant-card .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.restaurant-card .entrees {
  gap: 20px;
}/*# sourceMappingURL=style.css.map */