* {
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

.btn {
  padding: 0px 15px 0px 5px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #FFFFFF;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.header .header-title {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #F3F3F3;
}

.header .search {
  border: none;
}

.header .fa-solid {
  color: black;
}

.header {
  gap: 15px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
.nav #location {
  border: none;
  height: 50px;
  background-color: #EAEAEA;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
  gap: 15px;
}
.presentation .presentation p {
  font-size: 18px;
}
.presentation .presentation .btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  gap: 15px;
  padding: 15px;
}
.fonctionnement .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
  width: 100%;
}
.fonctionnement li {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  padding: 20px;
}
.fonctionnement li {
  position: relative;
}
.fonctionnement li::before {
  content: counter(list-item);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 18px;
}

.restaurant .restaurant-card {
  background-color: #F6F6F6;
  border-radius: 20px;
}

.restaurant .card {
  font-family: "roboto", sans-serif;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 0px;
}

.restaurant .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}

.restaurant .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  padding: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.restaurant .card .h3 {
  font-size: 18px;
  font-weight: 700;
}

.restaurant .card .p {
  font-size: 17px;
  font-weight: 300;
}

.fa-heart {
  width: 22px;
  height: 21px;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 22px 25px 22px;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}

.footer .footer-title {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer .fa-solid {
  color: #FFFFFF;
}

img {
  width: 100%;
  height: 275px;
}

.la-palette-du-gout {
  gap: 15px;
}
.la-palette-du-gout .entrees {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.la-palette-du-gout .plats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.la-palette-du-gout .dessert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.la-palette-du-gout .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */