.header .header-title {
    font-family: "Shrikhand", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .header .logo {
    background-color: $card-color;
    filter: $drop-shadow;
    
  }

  .header {
    background-color: $base-color;
    gap:15px;
    
      .header .search {
        border: none;
      }
      
      .header .fa-solid {
      color: $dark-color;
      }
  }


.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 17px;
  padding: 15px;
  background-color: $dark-grey;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}
  