.header-title {
    font-family: "Shrikhand", serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-arrow-left {
    font-size: 18px;
  }

  .arrow-menu {
    position: relative;
  }

  .header .logo {
    z-index: 10;
    background-color: $card-color;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
  }

  .header {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    
      .header .search {
        border: none;
      }
      
      .header .fa-solid {
      color: $dark-color;
      }
  }

.nav {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 17px;
  padding: 15px;
  background-color: $dark-grey;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}
  