.btn {
    padding: 15px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: $linear-gradient;
    color: $card-color;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    @include center;
    filter: $drop-shadow;
}

.btn:hover {
    opacity: 0.9;
}