.loader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    inset: 0;
    animation: hideLoader 4s ease forwards;

    @keyframes hideLoader {
    0%, 90% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
    .loader span {
      font-size: 25px;
      font-weight: bold;
      font-family: "Shrikhand", serif;
      letter-spacing: 1rem;
      background: linear-gradient(to bottom, #FF79DA, #9356DC);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
      flex-wrap: nowrap;
      display: inline-block;
      animation: animletters 1.5s infinite ease-in-out;
        
    
    }

    .loader span:nth-child(1) { animation-delay: 0s; }
    .loader span:nth-child(2) { animation-delay: 0.2s; }
    .loader span:nth-child(3) { animation-delay: 0.4s; }
    .loader span:nth-child(4) { animation-delay: 0.6s; }
    .loader span:nth-child(5) { animation-delay: 0.8s; }
    .loader span:nth-child(6) { animation-delay: 1s; }
    .loader span:nth-child(7) { animation-delay: 1.2s; }
    .loader span:nth-child(8) { animation-delay: 1.4s; }
    .loader span:nth-child(9) { animation-delay: 1.6s; }
    .loader span:nth-child(10) { animation-delay: 1.8s; }
    .loader span:nth-child(11) { animation-delay: 2s; }
    .loader span:nth-child(12) { animation-delay: 2.2s; }
    .loader span:nth-child(13) { animation-delay: 2.4s; }
    .loader span:nth-child(14) { animation-delay: 2.6s; }
    .loader span:nth-child(15) { animation-delay: 2.8s; }

    @keyframes animletters {
      0% {
        transform: translateY(0);
      }
      33% {
        transform: translateY(-12px);
      }
      66% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }