$base-color: #F3F3F3;
$card-color: #FFFFFF;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-color: #353535;
$drop-shadow: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

* {
    margin: 0;
    font-family: 'roboto', sans-serif;
}