img {
    width: 100%;
    height: 275px;
}

.la-palette-du-gout {

    gap: 15px;

    .entrees {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .plats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .dessert {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}