.footer {
    background-color: $dark-color;
    color: $card-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 22px 25px 22px;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;

      .footer-title {
        font-family: "Shrikhand", serif;
        font-size: 18px;
        font-weight: 400;
      }
      
  }
  
  .footer a {
      color: inherit;
      text-decoration: none;
    }
    
    .footer .fa-solid {
      color: $card-color;
    }


