.header-restaurant {


        .arrow {
            position: absolute;
            top: 15px;
            left: 25px;
            
            .fa-arrow-left {
                color: $dark-color;
                width: 30px;
                height: 30px;
                text-align: center;


            }
        }

        .header-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Shrikhand", serif;
            text-align: center;
            font-size: 30px;

        }

        
}
        
    