img {
    width: 100%;
    height:275px;
}
    
.restaurant-card {
    margin-top: -15%;
    border-radius: 25px 25px 0 0;
    background-color: $base-color;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 40px;

    @keyframes fadeInFromTop {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .card {
    opacity: 0;
    animation: fadeInFromTop 0.6s ease forwards;
    }

    .entrees .card:nth-of-type(1) { animation-delay: 0s; }
    .entrees .card:nth-of-type(2) { animation-delay: 0.2s; }
    .entrees .card:nth-of-type(3) { animation-delay: 0.4s; }

    .plats .card:nth-of-type(1) { animation-delay: 0.6s; }
    .plats .card:nth-of-type(2) { animation-delay: 1.0s; }
    .plats .card:nth-of-type(3) { animation-delay: 1.2s; }

    .desserts .card:nth-of-type(1) { animation-delay: 1.4s; }
    .desserts .card:nth-of-type(2) { animation-delay: 1.6s; }
    .desserts .card:nth-of-type(3) { animation-delay: 1.8s; }


    .heart {
        position: absolute;
            &.top-right {
                left: auto;
                right: 25px;
                top: 30px;
            }
        }

    .checkmark {
        background: linear-gradient(to right, #99e2d0, #66d2c8);
        color: $card-color;
        border-radius: 0 15px 15px 0;
        width: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.75s ease;
        transform: translateX(100%); 
        opacity: 0;

        .price {
            transition: all 0.75s ease;
        }

        .checkmark i {
            font-size: 18px;
        }
    }

      .card {
        overflow: hidden;
      }
      
      .card:hover {

        .price {
            transition: all 0.75s ease;
        }
        .checkmark {
            transform: translateX(0); 
            opacity: 1;
            width: 60px;
            transition: all 0.75s ease;
        }
    }


      
      .restaurant-name {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    
    .restaurant-name {
        font-family: 'shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 400;
        padding: 0;
        padding-top: 20px;
    }

    .menu-title {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 5px;    
        position: relative;
        display: inline-block;
    }

    .menu-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $tertiary-color;
    }

    .card {
        @include row-card;
        align-items: center;
        height: 72px;
        width: 100%;
        filter: $drop-shadow-card;
    }

    .card-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        overflow: hidden;
        
        p {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
     .price {
        padding: 15px;
    }

    .entrees, .plats, .desserts {
        gap: 10px;
        @include column-card;
    }

    h3 {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .commander {
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        width: 190px;
    }

}
