img {
    width: 100%;

}
    
.restaurant-card {
    margin-top: 25%;
    border-radius: 25px;
    background-color: $base-color;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s;

    .heart {
        position: absolute;

            &.top-right {
                left: auto;
                right: 25px;
            }
        }


    .checkmark {
        background: linear-gradient(to right, #99e2d0, #66d2c8);
        color: $card-color;
        border-radius: 0 15px 15px 0;
        width: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.75s ease;
        transform: translateX(100%); 
        opacity: 0;
            .checkmark i {
            font-size: 18px;
        }
      }
      
      .card:hover .checkmark {
        transform: translateX(0); 
        opacity: 1;
        width: 60px;
        transition: transform 0.75s ease;
      }
      
      
    
    .restaurant-name {
        font-family: 'shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 400;
    }


    .menu-title {
        font-size: 16px;
        font-weight: 300;
        border-bottom: 3px $tertiary-color solid;
        
    }

    .card {
        @include row-card;
        align-items: center;
        height: 72px;
    }

    .card-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        overflow: hidden;
        
    }
    
     .price {
        padding: 15px;
    }

    .entrees, .plats, .desserts {
        gap: 10px;
        @include column-card;
    }

    h3 {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
